<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 ">
            <div class="emblem text-center ">
                <img src="./assets/images/roy.png" alt="roy" style="width:50%;height:100%;">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h1 class="align-middle">ROY O GANNON</h1>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 ">
            <div class="emblem text-center">
                <img src="./assets/images/ganon emblem.png" alt="roy" style="width:50%;height:100%;">
            </div>
        </div>
    </div>
</div>