<app-banner></app-banner>
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h1>Enemy Stats Ranked By Lowest Win%</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Enemy Name</th>
          <th scope="col">Total Matches</th>
          <th scope="col">Wins</th>
          <th scope="col">Losses</th>
          <th scope="col">Win%</th>
          <th scope="col">Sudden Deaths</th>
          <th scope="col">Sudden Death %</th>
          <th scope="col">Plus5's</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let enemy of enemies" [style.background-color]="color(enemy.win_ratio)">
          <th scope="row" class="enemyname">{{enemy.enemy}}</th>
          <td>{{enemy.wins + enemy.losses}}</td>
          <td>{{enemy.wins}}</td>
          <td>{{enemy.losses}}</td>
          <td>{{((enemy.win_ratio)*100).toFixed(2)}}</td>
          <td>{{enemy.suddendeath}}</td>
          <td>{{ (enemy.suddendeath/(enemy.wins + enemy.losses) * 100).toFixed(2) }}</td>
          <td>{{enemy.plusfive}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>